[class*="col-"] {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  margin:0;
  padding:0;  
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  padding-bottom: 10px;
}

a {
  font-size: 18px;
  font-weight: bold;
}

.openBtn {
  background: orange;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 20%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  display: block;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

label {
    color:white;
    margin-top: 5px;
}

#from, #to {
  float: left;
  width: 50%;
}

.time {
  margin-top: 5px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}